#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "row2col"; 

        // Just ONE Row (Top Right Pin)
        row-gpios
            = <&gpio0 9 GPIO_ACTIVE_HIGH> 
            ;

        // Just ONE Column (Bottom Right Pin)
        col-gpios
            = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
            ;
    };
};